---
import Layout from "@layouts/Layout.astro";
import Test from "@components/Test.astro";
---

<Layout title="Home Page">
  <h1>Astro Starter Kit</h1>
  <Test title="This is a test component" />
</Layout>
